<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Indent Wrapped Messages</key>
	<dict>
		<key>New Value</key>
		<true/>
		<key>Override Setting</key>
		<true/>
	</dict>
	<key>Nickname Format</key>
	<string>%@%n:</string>
	<key>Override Channel Font</key>
	<dict>
		<key>Font Name</key>
		<string>Monaco</string>
		<key>Font Size</key>
		<integer>9</integer>
	</dict>
	<key>Timestamp Format</key>
	<string>[%H:%M:%S]</string>
</dict>
</plist>
